<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Шрифты -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Share+Tech+Mono&display=swap" rel="stylesheet">

  <!-- Стили -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  <main class="markdown-body">
    {{ content }}
  </main>

  <footer>
    <hr>
    <h3>👤 Author</h3>
    <p><strong>Satybaev Mukhamed Kamilovich</strong><br>
    🌐 <a href="https://mukhameds.github.io/ARU-AGI-Project/">ARU-AGI Website</a><br>
    🐦 <a href="https://x.com/redkms2025">Twitter/X</a><br>
    🔗 <a href="https://www.linkedin.com/in/muhamed-satybaev-38b864362">LinkedIn</a><br>
    📧 <a href="mailto:s.m.kamilovich@gmail.com">s.m.kamilovich@gmail.com</a><br>
    📱 +996 507 442 873</p>
  </footer>
</body>
</html>
